HERMES_IMAGE=local/hermes-agent-docker-cli:latest
HERMES_CONTAINER_NAME=hermes
HERMES_DATA_DIR=/home/<your_username>/.hermes
HERMES_GATEWAY_PORT=8642
HERMES_DASHBOARD_PORT=9119
HERMES_UID=10000
HERMES_GID=10000
INNER_DOCKER_IMAGE=docker:27-dind
INNER_DOCKER_CONTAINER_NAME=inner-docker
INNER_DOCKER_HOST=tcp://inner-docker:2375
INNER_DOCKER_DATA_VOLUME=inner-docker-data
INNER_WORKLOAD_PORT_START=20000
INNER_WORKLOAD_PORT_END=20100
COMPOSE_PROJECT_NAME=hermes-docker-deployment
